html, body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}
.container{
    margin: 0 auto;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
}
.graph{
    margin: 0 auto;
    height: 500px;
    width: 100%;
}
.spacer{
    height: 50px;
}

.slider{
    margin: auto;
    width: 75%;
}
